@keyframes LogoPosunJedna {
    0% {
        transform: translateX(30%) translateY(20%);
        opacity: 0%;
    }
    100% {transform: trans(0%);}
}
@keyframes LogoPosunDva {
    0% {
        transform: translateX(-20%) translateY(-20%);    
        opacity: 0%;
    }
    100% {transform: trans(0%);}
}
@keyframes LogoPosunTri {
    0% {
        transform: translateX(5%);
        opacity: 0%;
    }
    100% {transform: trans(0%);}
}
@keyframes LogoPosunCtyri {
    0% {
        transform: translateX(20%);
        opacity: 0%;
    }
    100% {transform: trans(0%);}
}
@keyframes MikrogravitaceJedna {
    0%, 100% {
        transform: translateX(0%) translateY(0%);
    }
    25%, 75% {
        transform: translateX(-2%) translateY(-2%);
    }
    50% {
        transform: translateX(2%) translateY(2%);
    }
}

@keyframes MikrogravitaceDva {
    0%, 100% {
        transform: translateX(0%) translateY(0%);
    }
    20% {
        transform: translateX(-3%) translateY(-3%);
    }
    40% {
        transform: translateX(3%) translateY(3%);
    }
    60% {
        transform: translateX(-3%) translateY(3%);
    }
    80% {
        transform: translateX(3%) translateY(-3%);
    }
}

@keyframes MikrogravitaceTri {
    0%, 100% {
        transform: translateX(0%) translateY(0%);
    }
    15%, 85% {
        transform: translateX(-4%) translateY(-1%);
    }
    30%, 70% {
        transform: translateX(4%) translateY(1%);
    }
    45%, 55% {
        transform: translateX(0%) translateY(-3%);
    }
}

@keyframes MikrogravitaceCtyri {
    0%, 100% {
        transform: translateX(0%) translateY(0%);
    }
    20% {
        transform: translateX(-1%) translateY(-1%);
    }
    40% {
        transform: translateX(2%) translateY(-2%);
    }
    60% {
        transform: translateX(-3%) translateY(1%);
    }
    80% {
        transform: translateX(1%) translateY(3%);
    }
}


.container_logo{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.postavaLogo{
    position: absolute;
    top: 24%;
    left: 60%;
    height: 60%;
    z-index: 20;    
    max-width: 100%;
    max-height: 100%;
}
.tabJedna{
    top: 5%;
    left: 2%;
    height: 25%;
    z-index: 3;
    position: absolute;
    overflow: hidden;
    animation: LogoPosunJedna 2s ease-out 1 forwards, 
    MikrogravitaceJedna 10s ease-in-out infinite 2s;
    will-change: transform;
}
.tabDva{
    position: absolute;
    top: 52%;
    left: 2%;
    height: 25%;
    z-index: 2;
    animation: LogoPosunDva;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    overflow: hidden;
    animation-fill-mode: forwards;
    animation: LogoPosunDva 2s ease-out 1 forwards, 
    MikrogravitaceDva 10s ease-in-out infinite 2s;
    will-change: transform;

}
.tabTri{
    position: absolute;
    top: 3%;
    left: 40%;
    height: 17%;
    z-index: 1;
    animation: LogoPosunTri;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    overflow: hidden;
    animation-fill-mode: forwards;
    animation: LogoPosunTri 2s ease-out 1 forwards, 
    MikrogravitaceTri 10s ease-in-out infinite 2s;
    will-change: transform;

}
.tabCtyri{
    position: absolute;
    top: 30%;
    left: 22%;
    height: 20%;
    z-index: 4;
    animation: MikrogravitaceCtyri;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    overflow: hidden;
    animation-fill-mode: forwards;
    animation: LogoPosunCtyri 2s ease-out 1 forwards, 
    MikrogravitaceCtyri 10s ease-in-out infinite 2s;
    will-change: transform;
}

.conteinerFrontend{
    display: flex;
    position: absolute;
    width: 200px;
    left: -40px;
}

.animaceFrontend{
    animation: posunFrontEnd;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}

@keyframes posunFrontEnd {
    0% {transform: translateX(0px);}
    50% {transform: translateX(-30px);}
    100% {transform: translateX(0px);}
}

.FrontEndZ3{
    top: -8px;
    right: 90px;
    height: 87px;
    z-index: 3;
    display: flex;
    overflow: hidden;
    position: absolute;

}
.FrontEndZ2{
    top: -2px;
    right: 94px;
    width: 131px;
    z-index: 2;
    display: flex;
    overflow: hidden;
    position: absolute;

}
.FrontEndZ1{
    top: -30px;
    right: 73px;
    width: 172px;
    height: 140px;
    z-index: 1;
    display: flex;
    overflow: hidden;
    position: absolute;
}
.animaceFrontend{
    animation: posunFrontEnd;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}

.signalJedna{
    position:absolute;
    z-index: 3;
    top: -44px;
    left: 195px;
    fill: #c6c9d0;
    animation: signalPrvni;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.signalDva{
    position:absolute;
    z-index: 4;
    top: -50px;
    left: 188px;
    fill: #c6c9d0;
    animation: signalDruhy;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    
}
.signalTri{
    position:absolute;
    z-index: 5;
    top: -55px;
    left: 180px;
    fill: #c6c9d0;
    animation: signalTreti;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.serverKontejner{
    display: flex;
    position: absolute;
    width: 1px;
}
.serverPrvni{
    position:absolute;
    width: 130px;
    height: 16px;
    top: 10px;
    border-radius: 5px;
    background-color: #303645;
    right: -65px;
}
.serverDruhy{
    position:absolute;
    width: 130px;
    height: 16px;
    border-radius: 5px;
    background-color: #303645;
    top: 29px;
    right: -65px;
}
.serverTreti{
    position:absolute;
    width: 130px;
    height: 16px;
    border-radius: 5px;
    background-color: #303645;
    top:48px;
    right: -65px;
}
.blikServerZlutaKostkaJedna{
    width: 5px;
    height: 5px;
    background-color: #CFD148;
    position: absolute;
    top: 55px;
    left: 20px;
    animation: blikZluta;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
}
.blikServerZlutaKostkaDva{
    width: 5px;
    height: 5px;
    background-color: #CFD148;
    position: absolute;
    top: 35px;
    left: 20px;
    animation: blikZluta;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.blikServerZlutaKostkaTri{
    width: 5px;
    height: 5px;
    background-color: #CFD148;
    position: absolute;
    top: 15px;
    left: 20px;
    animation: blikZluta;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.blikServerZelenaKostkaJedna{
    width: 5px;
    height: 5px;
    background-color: #5ED95B;
    position: absolute;
    top: 55px;
    left: 0px;
    animation: blikZelena;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.blikServerZelenaKostkaDva{
    width: 5px;
    height: 5px;
    background-color: #5ED95B;
    position: absolute;
    top: 15px;
    left: 0px;
    animation: blikZelena;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.blikServerZelenaKostkaTri{
    width: 5px;
    height: 5px;
    background-color: #5ED95B;
    position: absolute;
    top: 35px;
    left: 0px;
    animation: blikZelena;
    animation-duration: 2.3s;
    animation-iteration-count: infinite;
}

@keyframes blikZluta {
    from { background-color: #CFD148;}
    to { background-color: #8c8d91;}
    }    
@keyframes blikZelena {
    from { background-color: #5ED95B;}
    to { background-color: #8c8d91;}        
}